@page "/VatcatMaint"
@layout CompLayout
@using RetailGInvoices.Data
@using Newtonsoft.Json
@inject IJSRuntime JSRuntime
@inject HttpClient Http

<button class="btn btn-info" @onclick="@(x => ToggleEdit())" disabled="@disableEditButton">@editButtonText</button>
<Table @ref="TableVatCategory" TableItem="VatCategory" Items="vatCategories">
	<Column TableItem="VatCategory" Title="Category" Field="@(x => x.Category)">
		<EditTemplate>
			<input type="text" @bind="context.Category" @onblur="@(x => AddChangeToQueue(context))" />
		</EditTemplate>
	</Column>
	<Column TableItem="VatCategory" Title="VAT Rate" Field="@(x => x.VatRate)">
		<Template>
			<p>@(GetVatRateDesc(context.VatRate))</p>
		</Template>
		<EditTemplate>
			@if (vatRates == null)
			{
				<p></p>
			}
			else
			{
				<select @bind="@context.VatRate" style="width:100%" @onblur="@(x => AddChangeToQueue(context))">
					@foreach (VatRate vatRate in vatRates)
					{
						@if (vatRate.Id == context.VatRate)
						{
							<option value="@vatRate.Id" selected="selected">@vatRate.Description</option>
						}
						else
						{
							<option value="@vatRate.Id">@vatRate.Description</option>
						}
					}
				</select>
			}
		</EditTemplate>
	</Column>
	<Column TableItem="VatCategory" Title="">
		<Template>
			<button class="btn btn-danger" disabled="disabled">-</button>
		</Template>
		<EditTemplate>
			<button class="btn btn-danger" @onclick="@(x => DeleteCategory(context))">-</button>
		</EditTemplate>
	</Column>
	<EmptyDataTemplate>
		<p>No VAT Categories</p>
	</EmptyDataTemplate>
	<LoadingDataTemplate>
		<p>Loading VAT Categories</p>
	</LoadingDataTemplate>
</Table>
<button class="btn btn-info" @onclick="@(x => ToggleAddFields())" disabled="@disableAddButton">Add</button>
<div hidden="@hideAddFields">
	<table class="table-borderless">
		<thead>
			<tr>
				<td width="50%">Category</td>
				<td width="20%">Vat Rate</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<input id="vatcategory" type="text" @bind="@newVatCategory.Category" style="width:100%" @onkeypress="@(x => categoryKeyHandler(x.Key))"/>
				</td>
				<td>
					@if (vatRates == null)
					{
						<p id="vatrate"></p>
					}
					else
					{
						<select id="vatrate" @bind="@newVatCategory.VatRate" style="width:100%" @onkeypress="@(x => vatrateKeyHandler(x.Key))">
							@foreach (VatRate vatRate in vatRates)
							{
								<option value="@vatRate.Id">@vatRate.Description</option>
							}
						</select>
					}
				</td>
				<td>
					<button id="submit" class="btn btn-info" @onclick="@(x => AddNewCategory(newVatCategory))">Submit</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
@code {
	private ITable<VatCategory> TableVatCategory;

	private VatCategory[] vatCategories;
	private VatRate[] vatRates;
	private VatCategory newVatCategory;

	private string editButtonText = "Edit";

	private bool hideAddFields = true;
	private bool disableAddButton = true;

	private List<VatCategory> categoryChangeQueue;

	private bool _disableEditButton;
	private bool disableEditButton
	{
		get
		{
			bool returnValue = true;
			if (vatCategories != null)
			{
				if (vatCategories.Length != 0)
				{
					returnValue = _disableEditButton;
				}
			}
			return returnValue;
		}

		set
		{
			_disableEditButton = value;
		}

	}

	protected override async Task OnInitializedAsync()
	{
		newVatCategory = new VatCategory();
		categoryChangeQueue = new List<VatCategory>();

		await GetVatRates();
		await GetVatCategories();
		disableAddButton = false;
	}

	public async Task Focus(string elementId)
	{
		await JSRuntime.InvokeVoidAsync("functionLibrary.focusElement", elementId);
	}

	public void addKeyHandler(string keyPressed)
	{
		if (keyPressed == "Enter")
		{
			Task tmp = Focus("vatcategory");
		}
	}

	public void categoryKeyHandler(string keyPressed)
	{
		if (keyPressed == "Enter")
		{
			Task tmp = Focus("vatrate");
		}
	}

	public void vatrateKeyHandler(string keyPressed)
	{
		if (keyPressed == "Enter")
		{
			Task tmp = Focus("submit");
		}
	}

	private async Task AddNewCategory(VatCategory vatCategory)
	{
		await PostNewCategory(vatCategory);
		await GetVatCategories();
		hideAddFields = true;
	}

	private async Task PostNewCategory(VatCategory vatCategory)
	{
		try
		{
			await Http.PostJsonAsync($"api/VatCategories", vatCategory);
		}
		catch (Exception ex)
		{
			System.Diagnostics.Debug.WriteLine(ex.Message);
		}
	}

	private async Task ToggleAddFields()
	{
		hideAddFields = !hideAddFields;

		if (!hideAddFields)
		{
			newVatCategory = new VatCategory();
			await Focus("vatcategory");
		}
	}

	private async Task ToggleEdit()
	{
		TableVatCategory.ToggleEditMode();

		if (TableVatCategory.IsEditMode == true)
		{
			categoryChangeQueue = new List<VatCategory>();
			disableAddButton = true;
			editButtonText = "Save Changes";
		}
		else
		{
			disableAddButton = false;
			editButtonText = "Edit";
			await SaveChanges();
		}
	}

	private void AddChangeToQueue(VatCategory vatCategory)
	{
		categoryChangeQueue.Add(vatCategory);
	}

	private async Task SaveChanges()
	{
		try
		{
			foreach (VatCategory vatCategory in categoryChangeQueue)
			{
				string payload = JsonConvert.SerializeObject(vatCategory);

				StringContent content = new StringContent(payload, System.Text.Encoding.UTF8, "application/json");
				await Http.PutAsync($"api/VatCategories/{vatCategory.Id}", content);
			}
		}
		catch (Exception ex)
		{
			System.Diagnostics.Debug.WriteLine(ex.Message);
		}
	}

	private async Task DeleteCategory(VatCategory vatCategory)
	{
		try
		{
			HttpResponseMessage response = await Http.DeleteAsync($"api/VatCategories/{vatCategory.Id}");
			if (response.IsSuccessStatusCode)
			{
				await GetVatCategories();
				StateHasChanged();
			}
		}
		catch (Exception ex)
		{
			System.Diagnostics.Debug.WriteLine(ex.Message);
		}
	}
	private async Task GetVatCategories()
	{
		try
		{
			vatCategories = await Http.GetJsonAsync<VatCategory[]>("api/VatCategories");
		}
		catch (Exception ex)
		{
			DebugReport.ReportError(ex.Message);
		}

	}

	private async Task GetVatRates()
	{
		try
		{
			vatRates = await Http.GetJsonAsync<VatRate[]>("/api/VatRates");
		}
		catch (Exception ex)
		{
			DebugReport.ReportError(ex.Message);

		}
	}

	private VatRate GetVatRate(int vatRateId)
	{
		VatRate vatRate = new VatRate();
		if (vatRates != null)
		{
			vatRate = vatRates.Where(f => f.Id == vatRateId).FirstOrDefault();
		}

		return vatRate;
	}

	private string GetVatRateDesc(int vatRateId)
	{
		return vatRates.Where(f => f.Id == vatRateId).FirstOrDefault().Description;
	}
}
